* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    max-width: 1440px;
}

.header {
    width: 100%;
    min-height: 80px;
    box-shadow: 0px 3px 10px 0px #0000000D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__content {
    width: 1240px;
    display: flex;
    align-items: center;
}

.header__content-mobile {
    display: none;
}

.header__logo {
    max-width: 135.04px;
    margin-right: 60px;
}

.header__logo-img {
    width: 135.04px;
    height: 30.32px;
}

.header__input {
    max-width: 835px;
    width: 100%;
    height: 40px;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #BBC4D6;
    margin-right: 60px;
    background: url('./img/search_icon.jpg');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: left 10px center;
    padding-left: 30px;
}

.header__profile-section {
    width: 149px;
    height: 80px;
    display: flex;
    align-items: center;
    border-left: 1px solid #EBEBF1;
}

.header__notifications {
    min-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__notifications-icon {
    width: 24px;
    height: 24px;
}

.header__profile {
    max-width: 149px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__profile-text {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #768298;
    width: 79px;
    height: 17px;
    margin-left: 20px;
}

.header__profile-img {
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1240px;
    height: 58px;
    margin: 70px auto 0px auto;
}

.main__title {
    font-weight: 500;
    font-size: 36px;
    color: #121920;
    text-transform: uppercase;
}

.main__container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.main__card {
    max-width: 287.5px;
    max-height: 120px;
    width: 287.5px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #A4A4A408;
    box-shadow: -3px 0px 40px 0px #0000001A;
}

.main__card-logo-1 {
    width: 116px;
    height: 64px;
}

.main__card-logo-2 {
    width: 234px;
    height: 64px;
}

.main__card-logo-3 {
    width: 85px;
    height: 64px;
}

.main__card-logo-4 {
    width: 160px;
    height: 64px;
}

.main__card-logo-5 {
    width: 234px;
    height: 64px;
    object-fit: cover;
}

.main__card-logo-6 {
    width: 122px;
    height: 64px;
}

.main__card-logo-7 {
    width: 234px;
    height: 36px;
}


@media (max-width: 1279px) {

    .header__content,
    .main {
        margin-left: 20px;
        margin-right: 20px;
    }

    .main__title {
        font-size: 28px;
    }

    .main__container {
        gap: 20px;
    }

    .main__card {
        max-width: 230px;
        max-height: 120px;
    }

    .main__card-logo-1 {
        width: 116px;
        height: 64px;
    }

    .main__card-logo-2 {
        width: 183px;
        height: 34px;
    }

    .main__card-logo-3 {
        width: 99px;
        height: 74px;
    }

    .main__card-logo-4 {
        width: 175px;
        height: 70px;
    }

    .main__card-logo-5 {
        width: 187px;
        height: 38px;
        object-fit: cover;
    }

    .main__card-logo-6 {
        width: 143px;
        height: 74px;
    }

    .main__card-logo-7 {
        width: 196px;
        height: 30px;
    }

}

@media (max-width: 520px) {

    .header__content {
        display: none;
    }

    .header__content-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header__container-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px 10px 20px;
        border-bottom: 1px solid #BBC4D6;
    }

    .header__profile-img {
        width: 24px;
        height: 24px;
    }

    .header__input {
        margin-left: 20px;
        margin-right: 20px;
        border: none;
    }

    .main__card {
        min-width: 335px;
        max-height: 140px;
    }

    .main__card-logo-1 {
        width: 141px;
        height: 78px;
    }

    .main__card-logo-2 {
        width: 234px;
        height: 44px;
    }

    .main__card-logo-3 {
        width: 99px;
        height: 74px;
    }

    .main__card-logo-4 {
        width: 194px;
        height: 78px;
    }

    .main__card-logo-5 {
        width: 232px;
        height: 48px;
        object-fit: cover;
    }

    .main__card-logo-6 {
        width: 141px;
        height: 74px;
    }

    .main__card-logo-7 {
        width: 247px;
        height: 38px;
    }

}